body{
    background-color:#fcf6e5;
 }


.Navbar{
   position: fixed;
   width:100%;
}
.container{
   position:relative;
   top:50px;
   z-index: -1;

}
.row img{
   border-radius: 50%;
}
h1{
   color:rgb(71, 14, 124);
   font-size: 50px;
   text-align: center;

}
h2{
   text-align: center;
}
.Greeting p{
   font-size: 20px;
}
P{
   font-size: 15px;
   
}
h3{
   color:black
}


