body{
    background-color:#FDFFE2;
 }


.Navbar{
   position: fixed;
   width:100%;
   z-index:2;
}
.container{
   position:relative;
   top:50px;
   z-index: 1;

}
.row img{
   border-radius: 50%;
   margin-top:20px;
}
h1{
   color:#233763;
   font-style: italic;
   font-weight: 600;
   font-size: 50px;
   text-align: center;
}
.typewritter{
   display: flex;
   justify-content: space-evenly;
}

.typewritter h1{
   color:#233763;
   font-style: italic;
   font-weight: 600px;
   font-size: 60px;
   text-align: center;
   border-right:5px solid;
   width:100;
   white-space: nowrap;
   overflow: hidden;
  animation:
 typing 6s steps(23,end) infinite, cursor-blink 0.8s step-end ;
}

@keyframes cursor-blink {
   50% {
       border-color: transparent;
       color: rgb(17, 221, 221);
   }
}

@keyframes typing {
   0% {
       width: 0;
   }
   50% {
       width: 52%; 
   }
   100% {
       width: 0; 
   }
}

h2{
   text-align: center;
}
.Greeting p{
   background-color: #a0c3f8;
   font-size: 20px;
   padding:20px;
   border-radius:20px;

}
P{
   font-size: 15px;
   
}
h3{
   color:black
}
.float img{
   margin-right: 30px;
   float:left
   
}
.row{
   background-color: #a0c3f8;
   clear:left
}
.float h4{
   padding-left: 100px;
   padding:40px;
   border-radius: 20px;
}
.container .float{
   padding:40px;
   border-radius: 20px;
}

footer {
   background-color: #FDFFE2;
   padding: 40px;
   color: #000;
}

.footer-container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   text-align: left;
}

.footer-column {
   flex: 1;
   margin: 10px;
}

.footer-logo {
   width: 150px;
   margin-bottom: 10px;
}

.footer-column h3 {
   font-size: 18px;
   margin-bottom: 15px;
}

.footer-column p,
.footer-column ul {
   font-size: 14px;
}

.footer-column ul {
   list-style: none;
   padding: 0;
}

.footer-column ul li {
   margin-bottom: 10px;
}

.footer-column ul li a {
   text-decoration: none;
   color: #000;
}

.footer-column ul li a:hover {
   color: #007BFF;
}

.social-icons {
   margin-top: 10px;
}

.social-icons a {
   margin-right: 10px;
}

.social-icons img {
   width: 25px;
   height: 25px;
}

footer p a {
   text-decoration: none;
   color: #007BFF;
}

footer p a:hover {
   text-decoration: underline;
}
.menu {
   list-style: none;
   display: flex;
   gap: 20px;
   padding-top: 10px;
   padding-left:3%;
   padding-right:3%;
}

.menu li a {
   text-decoration: none;
   color: black;
   padding: 10px;
   font-family: Arial, sans-serif;
   border: 2px solid transparent;
   font-weight: bold;
}

.menu li a.donate {
   color: rgb(95, 183, 189);
   border: 2px dashed rgb(97, 187, 192);
}

.menu li a:hover {
   color: purple;
   border: 2px solid purple;
}
